Checks: >
    clang-analyzer-*,
    clang-diagnostic-*,
    concurrency-*,
    cppcoreguidelines-*,
    llvm-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -readability-convert-member-functions-to-static,
    -readability-implicit-bool-conversion,
    -readability-uppercase-literal-suffix,
