[submodule "vendor/sjp"]
	path = vendor/sjp
	url = https://github.com/lyxell/sjp.git
[submodule "vendor/souffle"]
	path = vendor/souffle
	url = https://github.com/souffle-lang/souffle.git
[submodule "vendor/nway"]
	path = vendor/nway
	url = https://github.com/lyxell/nway.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
